
body {
    overflow: hidden;
    min-height: 100vh;
  display: flex;
  background-color: rgb(234, 234, 234);
}
#iframe-container {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
    margin: auto;

      
    
}
.iframe-item {
    height: 300px;
    width: 100%;
    padding: 1rem;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iframe-item iframe {

    border-radius: 10px; /* Add this line */
}
p {
    text-align: center;
    font-family: "SF-Pro-Display-Thin", sans-serif;
}
#final-game {
    height: 100%;
}
#other-games {
    height: 100%;
}
#aigenframe iframe{
    width: 600px;
    height: 600px;
    border:0;
    -ms-transform: scale(0.25);
    -moz-transform: scale(0.25);
    -o-transform: scale(0.25);
    -webkit-transform: scale(0.25);
    transform: scale(0.25); 
    transform-origin: 0 0;
}